{
   "remote_workspace":"./workspace",
   "repository": "git@bitbucket.org:trynewsport/tryasport_ui.git",
   "branch": "master",
   "app_domain": "dev.tryasport.com",
   "git_key_public": "/home/vagrant/.ssh/storrellas.pub",
   "git_key_private": "/home/vagrant/.ssh/storrellas"
}
